<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GPSProxy.GPSService.Properties.Settings.GPSConnectionString1"
      connectionString="Data Source=shacng6120067,5013\SQLEXPRESS;Initial Catalog=GPS;Persist Security Info=True;User ID=gpsuser;Password=gpsuser"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="GPSProxy.GPSService.GPSManagerBehavior"
        name="GPSProxy.GPSService.GPSManager">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          contract="GPSProxy.GPSService.IGPSManager">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8711/Design_Time_Addresses/GPSProxy.GPSService/GPSManager/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="GPSProxy.GPSService.GPSManagerBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
